<%= form_with(model: project, local: true) do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :student_id %>
     <%= form.select :student_id, options_from_collection_for_select(Student.all, :id, :full_name, form.object.student_id), prompt: "-- Select student --" %>
  </div>

  <div class="field">
    <%= form.label :project_title %>
    <%= form.text_field :project_title %>
  </div>

  <div class="field">
    <%= form.label :technology %>
    <%= form.text_field :technology %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
